
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var rolegroup =(List<gym_mgmt_01.Models.RoleGroup>)  ViewData["RoleGroup"];
}
@model dynamic 
<div class="row upp2">
    <!-- Column -->
    <div class="row rolebtns2">
        <div class="col-lg-6 col-xlg-6 col-md-6">
            <form action="#">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type the role.." aria-label="">
                    <div class="input-gro   up-append">
                        <span class="input-group-text"><i class="mdi  mdi-magnify"></i></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6 col-xlg-6 col-md-6">
            <button type="button" class="btn btn-info btnaddrole" data-toggle="modal" data-target="#addroles" data-whatever="">Add Role</button>
        </div>
    </div>
    <div class="addrolestab">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Role Group</th>
                    <th>Role</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.roleGroup.Count > 0) {
                    foreach (var rolegroup1 in Model.roleGroup ) { 
                <tr>
                    <td> @rolegroup1.GroupName</td>
                    <td>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio1">Admin</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio2">Staff</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio3">User</label>
                        </div>
                    </td>
                    <td>@rolegroup1.Description</td>
                   
                </tr>
                    }   
                }
            </tbody>
        </table>
    </div>
    <!-- Column -->
</div>
<!---Add Role Model-->
<!-- /.modal -->
<div class="modal" id="addroles" tabindex="-1" role="dialog" aria-labelledby="addroleslabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addroleslabel">Add Roles</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="" class="control-label label1">Role Group</label>
                        <input type="text" class="form-control label2" id="" />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label label1">Role</label>
                        <select class="form-control label2">
                            <option value="0">--SELECT ROLEGROUP--</option>
                            @foreach (var c in @rolegroup) // Print the list
                            {
                                <option value="@c.Id">@c.GroupName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label label1">Description:</label>
                        <textarea type="text" class="form-control label2" id="" rows="3"></textarea>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default btn-info">Submit</button>
                <button type="button" class="btn btn-default btn-info" data-dismiss="modal"> </button>

            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<!------------------->
