
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var subtotal = 0.00;
    var Total = 0.00;
    var due = 0.00;
}
@model dynamic
    <div class="row upp2">
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-8 col-xlg-8 col-md-8">
            <div class="alert alert-info" style="display:none">
                <i class="ti-user"></i> The Sale is empty.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
            </div>
            <div class="row">
                <div class="col-lg-3 col-xlg-3 col-md-3">
                    <div class="btn-group mm1">
                        <button class="btn btn-primary mm2"><i class="ti-layout-grid2 gridicon"></i></button>
                        <button id="menubtn" class="btn btn-primary mm3">Main Menu</button>
                    </div>
                </div>
                <div class="col-lg-3 col-xlg-3 col-md-3" style="display:block">
                    <button class="btn btn-primary posstg"> <i class="mdi mdi-settings "></i>POS Setting</button>
                </div>
                <div class="col-lg-6 col-xlg-6 col-md-6">
                    <form action="#">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Type the product name" aria-label="">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="mdi  mdi-magnify"></i></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="mainpos" style="display:none;">
                <div class="partpos">
                    <button type="button" class="btn ptp" data-toggle="modal" data-target="#generalsale" data-whatever=""><h4>General Sale</h4></button>
                </div>
                <div class="partpos bluebg">
                    <button type="button" class="btn ptp" data-toggle="modal" data-target="#giftvoucher" data-whatever=""><h4>Gift Voucher</h4></button>
                </div>
                <div class="partpos bluebg">
                    <button type="button" class="btn ptp" data-toggle="modal" data-target="#opendrawer" data-whatever=""><h4>Open Drawer</h4></button>
                </div>
                <div class="partpos bluebg">
                    <button type="button" class="btn ptp" data-toggle="modal" data-target="#cashout" data-whatever=""><h4>Cash Out</h4></button>
                </div>
            </div>
            <div id="childpos" class="row">
                <div id="category" style="width:100%; display:none;">
                    
                </div>
                <div id="product" style=" width:100%; display:none;">
                    <div class="childpospart"><button type="button" class="btn ptp5" data-toggle="modal" data-target="#" data-whatever="" onclick="back()"><i class="ti-back-left iconpt"></i><div class="poschild5">Back</div></button></div>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4 col-xlg-4 col-md-4">
            <div class="tablepos">
                <table class="table" id="invoicePanel">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{  
                  
                            if (ViewBag.Data != null)
                            {
                                <tr>
                                    <td></td>
                                    <td>3</td>
                                    <td>4.33</td>
                                    <td><i class='ti-pencil pencilicon'></i></td>
                                    <td><i class='ti-close closeicon'></i></td>
                                </tr>
                            }

                        }
                        <tr>
                            <td>Sub-Total</td>
                            <td></td>
                            <td>$0.00</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td></td>
                            <td>$0.00</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Due</td>
                            <td></td>
                            <td>$0.00</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <button class="btnpos makepay ptp" type="button" data-toggle="modal" data-target="#payment" data-whatever="">Make Payment</button>
                <button class="btnpos chargetomember ptp" type="button" data-toggle="modal" data-target="#" data-whatever="">Charge to Member</button>
                <button class="btnpos cancelpos ptp" type="button" data-toggle="modal" data-target="#cancel" data-whatever="">Cancel</button>
                <button class="btnpos completesale ptp" type="button" data-toggle="modal" data-target="#" data-whatever="">Complete Sale</button>
            </div>

        </div>
        <!-- Column -->
    </div>
@section scripts{
    <script type="text/javascript">
        var SellsOrderItems = {
            Id: 0, invoice_Id: 0, product_Id: 0, quantity: 0, unit_price: 0, discount_price: 0, total_amount: 0, createdAt: ""
          };
        $(function () {
            var catName = "Main Menu";
           // alert(" On Page Load ");
            var menubtn = document.querySelector('#menubtn');
            menubtn.innerHTML = " Main Menu ";
            getCategory();
        });
        //Getting Catgeory From the Controller
        //$(function () {
        //  $.ajax({
        //    type: "GET",
        //    url: "/POS/getCategory",
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "json",
        //      success: function (response) {
        //          alert("Getting the Data : " + JSON.stringify(response));
        //    },
        //    failure: function(response) {
        //        alert(response.responseText);
        //    },
        //    error: function(response) {
        //        alert(response.responseText);
        //    }
        //});
        //});
       
        function getCategory() {
           // alert("Getting the Category");
            $.ajax({
            type: "GET",
            url: "/POS/getCategory",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
              success: function (response) {
                //  alert("Getting the Data : " + JSON.stringify(response));
                  var catlist = JSON.parse(JSON.stringify(response));
                  var cat_contain = document.querySelector("#category");
                //  alert(catlist);
                  var cat_len = catlist.length;
                  var final_list = "";
                  for (var i = 0; i < catlist.length; i++) {
                      var list  = '<div class="childpospart"><button type="button" class="btn ptp5" id=' + catlist[i].Id + ' data-toggle="modal" name=' + catlist[i].TypeName+ ' data-target="#" data-whatever="" onclick="getProduct(this)">'
                      list += '<i class="ti-folder iconpt"></i><div class="poschild5">' + catlist[i].TypeName + '</div></button></div>';
                      final_list  += list;
                  }
                  cat_contain.innerHTML = final_list;
              },
              failure: function(response) {
                 alert(response.responseText);
              },
              error: function(response) {
                 alert(response.responseText);
              }
           });
            var cat = document.querySelector('#category');
            var prod = document.querySelector("#product");
            showHidePanel(prod,cat);
        }
        function addProduct(data) {
            var cat = document.querySelector('#category');
            var prod = document.querySelector("#product");

           // alert("Adding in the Product... " + data.id);
            var invoicePanel = document.querySelector('#invoicePanel');

            console.log(" Invoice Panel : " + invoicePanel);
            var rowcount = invoicePanel.rows.length;
            if (data.id != null) {
                alert(invoicePanel.rows.length);
                
            }
            var row = invoicePanel.insertRow(1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            //name
            cell1.innerHTML = data.name;
            //Qty
            cell2.innerHTML = "0";
            //Price
            cell3.innerHTML = "$20.00";
            cell4.innerHTML = "<i class='ti-pencil pencilicon'></i>";
            cell5.innerHTML = "<i class='ti-close closeicon'></i>";
        }
        function showHidePanel(hide, show) {
            if (hide.style.display != 'none') {
                hide.style.display = 'none';
            }
            if (show.style.display != 'block') {
                show.style.display = 'block';
            } 
        }
        function getProduct(resp) {
            var cat = document.querySelector('#category');
            var prod = document.querySelector('#product');
            var menubtn = document.querySelector('#menubtn');
            menubtn.innerHTML = resp.name;
           // alert(" Show Product !!!" + resp.id);
            $.ajax({
                type: "POST",
                url: "/POS/getProducts",
                data: JSON.stringify({ 'id': resp.id }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    if (response != null) {
                       // alert("Name : " + JSON.stringify(response));
                        var prodlist = JSON.parse(JSON.stringify(response));
                        var prod_contain = document.querySelector("#product");
                        var final_list = "";
                        for (var i = 0; i < prodlist.length; i++) {
                                var list  = '<div class="childpospart"><button type="button" class="btn ptp5" id=' + prodlist[i].Id + ' name='+ prodlist[i].Name+' data-toggle="modal" data-target="#" data-whatever="" onclick="addProduct(this)">'
                                list += '<i class=" iconpt"></i><div class="poschild5">' + prodlist[i].Name + '</div></button></div>';
                                final_list  += list;
                        }
                        var back = '<div class="childpospart"><button type="button" class="btn ptp5" data-toggle="modal" data-target="#" data-whatever="" onclick="back()"><i class="ti-back-left iconpt"></i><div class="poschild5">Back</div></button></div>';
                        prod_contain.innerHTML = final_list + back;
                    } else {

                        alert("Something went wrong");
                    }
                },
                failure: function(response) {
                    alert(response.responseText);
                },
                error: function(response) {
                    alert(response.responseText);
                }
            });
            showHidePanel(cat,prod);
        }
        function back() {
            var cat = document.querySelector('#category');
            var prod = document.querySelector('#product');
            showHidePanel(prod, cat);
            var menubtn = document.querySelector('#menubtn');
            menubtn.innerHTML = "Main Menu";
        }
        function addSellsOrderItems() {
            //Add Sells Orde Items 
        }
        function addSellsOrder() {
            //Add Sells Order Here To the Server

        }
        function makePay() {
            //Do Pay : 

        }
        function addCart() {
          
        }
    </script>
}