
@{
    ViewBag.Title = "POS Terminal";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var subtotal = 0.00;
    var Total = 0.00;
    var due = 0.00;
}
@model dynamic
<div class="row upp2">
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-8 col-md-8">
        <input type="hidden" id="InvoiceID" name="InvoiceID">
        <div class="alert alert-info" style="display:none">
            <i class="ti-user"></i> The Sale is empty.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xlg-3 col-md-3">
                <div class="btn-group mm1">
                    <button class="btn btn-primary mm2"><i class="ti-layout-grid2 gridicon"></i></button>
                    <button id="menubtn" class="btn btn-primary mm3">Main Menu</button>
                </div>
            </div>
            <div class="col-lg-3 col-xlg-3 col-md-3" style="display:none;">
                <button class="btn btn-primary posstg"> <i class="mdi mdi-settings "></i>POS Setting</button>
            </div>
            <div class="col-lg-6 col-xlg-6 col-md-6">
                <form action="#">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Type the product name" aria-label="">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="mdi  mdi-magnify"></i></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="mainpos" style="display:none;">
            <div class="partpos">
                <button type="button" class="btn ptp" data-toggle="modal" data-target="#generalsale" data-whatever=""><h4>General Sale</h4></button>
            </div>
            <div class="partpos bluebg">
                <button type="button" class="btn ptp" data-toggle="modal" data-target="#giftvoucher" data-whatever=""><h4>Gift Voucher</h4></button>
            </div>
            <div class="partpos bluebg">
                <button type="button" class="btn ptp" data-toggle="modal" data-target="#opendrawer" data-whatever=""><h4>Open Drawer</h4></button>
            </div>
            <div class="partpos bluebg">
                <button type="button" class="btn ptp" data-toggle="modal" data-target="#cashout" data-whatever=""><h4>Cash Out</h4></button>
            </div>
        </div>
        <div id="childpos" class="row">
            <div id="category" style="width:100%; display:none;">

            </div>
            <div id="product" style=" width:100%; display:none;">
                <div class="childpospart"><button type="button" class="btn ptp5" data-toggle="modal" data-target="#" data-whatever="" onclick="back()"><i class="ti-back-left iconpt"></i><div class="poschild5">Back</div></button></div>
            </div>
        </div>

    </div>
    <div class="col-lg-4 col-xlg-4 col-md-4">
        <div class="tablepos">
            <table class="table" id="invoicePanel">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="subtotal" id="paymentPanel">
                <div class="row stt">
                    <div class="col-md-6 font-bold">Sub-Total</div>
                    <div class="col-md-6 text-dark">$<label id="lblSubtotal">0.00</label></div>
                </div>
                <div class="row stt">
                    <div class="col-md-6 font-bold">Sales Tax</div>
                    <div class="col-md-6 text-dark">$<label id="lblSalesTax">0.00</label></div>
                </div>
                <div class="row stt">
                    <div class="col-md-6 font-bold">Total</div>
                    <div class="col-md-6 text-dark">$<label id="lbltotal">0.00</label></div>
                </div>
                <div class="row stt" id="divCash" style="display:none;">
                    <div class="col-md-6 font-bold">Cash</div>
                    <div class="col-md-6 text-dark">$<label id="lblCash">0.00</label></div>
                </div>
                <div class="row stt">
                    <div class="col-md-6 font-bold">Due</div>
                    <div class="col-md-6 text-dark">$<label id="lblDue">0.00</label></div>
                </div>
            </div>
            <button class="btnpos makepay ptp" type="button" data-toggle="modal" data-target="#payment" id="makepaymnt" data-whatever="">Make Payment</button>
            <button class="btnpos chargetomember ptp" type="button" data-toggle="modal" data-target="#charge" data-whatever="">Charge to Member</button>
            <button class="btnpos cancelpos ptp" type="button" data-toggle="modal" data-target="#cancel" data-whatever="">Cancel</button>
            <button class="btnpos completesale ptp" id="btnCompeleteSale" type="button" data-toggle="modal" data-target="#" data-whatever="">Complete Sale</button>
        </div>

    </div>
    <!-- Column -->
</div>
<!-- /.modal1 -->
<div class="modal" id="generalsale" tabindex="-1" role="dialog" aria-labelledby="generalsalelabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="generalsalelabel">General Sale</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label label1">Amount:</label>
                        <input type="text" class="form-control label2" id="" />
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="control-label label1">Tax Rate:</label>
                        <select class="form-control label2">
                            <option value="-1">Select Tax Rate</option>
                            <option value="0">Sales Tax - Zero Rated Tax</option>
                            <option value="1">Sales Tax - booking, 15%</option>
                            <option value="2">Sales Tax - product tax for D..., 15%</option>
                            <option value="3">Sales Tax - programme tax for..., 15%</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label label1">Description:</label>
                        <textarea type="text" class="form-control label2" id="" rows="4"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal1 -->
<!-- /.modal2 -->
<div class="modal" id="giftvoucher" tabindex="-1" role="dialog" aria-labelledby="giftvoucherlabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="giftvoucherlabel">Voucher Sale</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="" class="control-label label1">Amount (Tax Incl):</label>
                        <input type="text" class="form-control label2" id="" />
                    </div>

                    <div class="form-group">
                        <label for="" class="control-label label1">Voucher Code:</label>
                        <input type="text" class="form-control label2" id="" />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label label1">Expiry Date:</label>
                        <input type="date" class="form-control label2" id="" />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label label1">Comment:</label>
                        <input type="text" class="form-control label2" id="" placeholder="Optional" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal2 -->
<!-- /.modal3-->
<div class="modal" id="cashout" tabindex="-1" role="dialog" aria-labelledby=" ">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="giftvoucherlabel">Cash Out</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <button class="btn btn-primary proceedbtn">Proceed</button>
                    <div class="form-group">
                        <label for="exampleInputuname">Amount to pay now: $0.00 remaining of total</label>
                        <div class="input-group mb-3">
                            <input type="text" id="" class="form-control" value="$0.00" placeholder="" aria-label="" />
                            <div class="input-group-append">
                                <span class=""><button class="btn btnexact">Exact</button></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal3 -->
<!-- /.modal4-->
<div class="modal" id="payment" tabindex="-1" role="dialog" aria-labelledby=" ">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="giftvoucherlabel">Payment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <button type="button" id="cashType" class="btn btn-primary paybtn11">Cash</button>
                        @*<button type="button" class="btn btn-primary paybtn11">Eftpos</button>
                            <button type="button" class="btn btn-primary paybtn11">Credit Card</button>*@
                    </div>
                    @*<div class="row">
                            <button type="button" class="btn btn-primary paybtn11">Charge to Member</button>
                            <button type="button" class="btn btn-primary paybtn11">Cheque</button>
                            <button type="button" class="btn btn-primary paybtn11">Visa</button>
                        </div>
                        <div class="row">
                            <button type="button" class="btn btn-primary paybtn11">Master Card</button>
                            <button type="button" class="btn btn-primary paybtn11">Amex</button>
                            <button type="button" class="btn btn-primary paybtn11">Diners</button>

                        </div>
                        <div class="row">
                            <button type="button" class="btn btn-primary paybtn11">No payment /Adjustment</button>
                            <button type="button" class="btn btn-primary paybtn11">Internet Banking</button>
                            <button type="button" class="btn btn-primary paybtn11">Gift Voucher</button>
                        </div>*@
                    <div class="row">
                        @*<button type="button" class="btn btn-primary paybtn11">PaySafe HandPoint</button>*@
                    </div>
                    <br />
                    <label for="exampleInputuname">Amount to pay now: $0.00 remaining of total $0.00</label>
                    <div class="input-group mb-3">
                        <input type="text" id="extData" class="form-control" value="" placeholder="$0.00" aria-label="" />
                        <div class="input-group-append">
                            <span class=""><button class="btn btnexact">Exact</button></span>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-info">Return to Sale</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel Sale</button>
                </div>*@
        </div>
    </div>
</div>
<!-- /.modal4 -->
<!-- /.modal5-->
<div class="modal" id="cancel" tabindex="-1" role="dialog" aria-labelledby=" ">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="giftvoucherlabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputuname">Cancel Sale</label>
                        <div class="input-group mb-3">
                            <p>
                                Are you sure you want to cancel the sale?
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info">Return to Sale</button>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("", "Home")'" data-dismiss="modal">Cancel Sale</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal5 -->
<!-- /.modal6-->
<div class="modal" id="charge" tabindex="-1" role="dialog" aria-labelledby=" ">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="giftvoucherlabel">Assign to Member</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                
                    <div class="form-group ">
                        <div class="" style="display:block;" id="findMemPnl">
                            <label for="exampleInputuname" class="st">Find Member</label>
                            <div class="input-group mb-3 st70">
                                <input type="search" id="findMember" class="form-control" placeholder="" aria-label="" />
                                <div class="input-group-append">
                                    <span class=""><button class="btn btnexact">Search</button></span>
                                </div>
                            </div>
                            <div class="input-group mb-3 membernamecl" style=" max-height:350px; overflow-y:auto; display:none;" id="membercontainer">
                            </div>
                        </div>
                        <div class="" style="display:none;" id="SelectMemPnl">
                            <label for="exampleInputuname" class="st">Sold to</label>
                            <div class="input-group mb-3 membernamecl st70">
                                <div class="row">
                                    <div class="st20"><img src="assets/images/users/1.jpg" id="selImage" alt="user" class="stimg"></div>
                                    <div class="st70 sh">
                                        <h4><label id="selName"></label> </h4>
                                        <h4><label id="selID"></label></h4>
                                        <h4><label id="selDate"></label></h4>
                                    </div>
                                    <button type="button" class="close st10" data-dismiss="alert" aria-label="Close" onclick="closeSelectMembers()" > <span aria-hidden="true">×</span> </button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" data-dismiss="modal"  class="btn btn-info">Save</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!---Modal 6-->
@section scripts{
    <script type="text/javascript">
        $(function () {

            var catName = "Main Menu";
            var defaultSalesTax = 0.44;
            var menubtn = document.querySelector('#menubtn');
            menubtn.innerHTML = " Main Menu ";
            init();
            getCategory();  
        });
        function getCategory() {
            // alert("Getting the Category");
            $.ajax({
                type: "GET",
                url: "/POS/getCategory",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    //  alert("Getting the Data : " + JSON.stringify(response));
                    var catlist = JSON.parse(JSON.stringify(response));
                    var cat_contain = document.querySelector("#category");
                    //  alert(catlist);
                    var cat_len = catlist.length;
                    var final_list = "";
                    for (var i = 0; i < catlist.length; i++) {
                        var list = '<div class="childpospart"><button type="button" class="btn ptp5" id=' + catlist[i].Id + ' data-toggle="modal" name=' + catlist[i].TypeName + ' data-target="#" data-whatever="" onclick="getProduct(this)">'
                        list += '<i class="ti-folder iconpt"></i><div class="poschild5">' + catlist[i].TypeName + '</div></button></div>';
                        final_list += list;
                    }
                    cat_contain.innerHTML = final_list;
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            var cat = document.querySelector('#category');
            var prod = document.querySelector("#product");
            showHidePanel(prod, cat);
        }
        function getProduct(data) {
           // alert(" Adding the Product !!!");
        }
        function addProduct(data) {
            var prodadd = false;
            // getItems(data.id);
            var priceTable = document.querySelector('#invoicePanel');
            //alert(" Length : " + priceTable.rows.length);
            if (priceTable.rows.length > 1) {
                //alert("Table " + priceTable.rows.length);
                for (var i = 1; i < priceTable.rows.length; i++) {
                    var col = priceTable.rows[i].cells[5].innerHTML;
                    // alert("Column Value : [" + col + "]" + " ID Value : " + data.id);
                    if (data[0].ItemID == col) {
                        //alert(" Updating the Value : ");
                        var get_qty = priceTable.rows[i].cells[1].innerHTML;
                        var get_price = priceTable.rows[i].cells[2].innerHTML;
                        if (data[0].Qty != get_qty) {
                            //alert(" Get Price :" + get_price);
                            var cur_qty = (parseInt(get_qty) + parseInt(1));
                            var cur_price = (parseInt(data[0].SellPrice) * parseInt(cur_qty))
                            //alert(" Now Qty : " + cur_qty);
                            priceTable.rows[i].cells[1].innerHTML = cur_qty;
                            priceTable.rows[i].cells[2].innerHTML = cur_price;
                        } else {

                           // alert(" Stock not found !!!! ");
                        }
                        prodadd = false;
                        break;
                    } else {
                        prodadd = true;
                    }
                }
            } else {
                prodadd = true;
            }
            if (prodadd) {
                // alert(" Add Items At : "+ i + " " + Item);
                var row = priceTable.insertRow(1);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);
                var cell5 = row.insertCell(4);
                var cell6 = row.insertCell(5);
                var cell7 = row.insertCell(6);
                cell1.innerHTML = data[0].ItemName;
                cell2.innerHTML = 1;
                cell3.innerHTML = data[0].SellPrice;
                cell4.innerHTML = "<i class='ti-pencil pencilicon' style='display:none;'></i>";
                cell5.innerHTML = "<button type='button' id='" + data[0].ItemID + "' class='btn' onclick='removeProduct(this);'><i class='ti-close closeicon'></i></button>";
                cell6.style.display = "none";
                cell7.style.display = "none";
                cell6.innerHTML = data[0].ItemID;
                cell7.innerHTML = data[0].SellPrice;
            }
            // alert(" Length : " + priceTable.rows.length);
            //alert("After Adding : " + Item);
            // alert(" Updating Pay Details !!! ");
            updatePayDetails();
        }
        function addTableRow(values) {
            var priceTable = document.querySelector('#invoicePanel');
        }
        function removeProduct(data) {
            // alert(" Removing Elements !!! ");
            var priceTable = document.querySelector('#invoicePanel');
            var rowcount = priceTable.rows.length;
            //alert(" Rows Count : " + rowcount);
            if (priceTable.rows.length > 1) {
                //alert(" Best Rows : ");
                for (var i = 1; i < priceTable.rows.length; i++) {
                    //alert(" Inside the Fors" + data.id);
                    var col = priceTable.rows[i].cells[5].innerHTML;
                    if (data.id == col) {
                        //alert(" Deleting the Row");
                        priceTable.deleteRow(i);
                    }
                }
            }
            updatePayDetails();
        }
        function showHidePanel(hide, show) {
            if (hide.style.display != 'none') {
                hide.style.display = 'none';
            }
            if (show.style.display != 'block') {
                show.style.display = 'block';
            }
        }
        function getProduct(resp) {
            var cat = document.querySelector('#category');
            var prod = document.querySelector('#product');
            var menubtn = document.querySelector('#menubtn');
            
            menubtn.innerHTML = resp.name;
            $.ajax({
                type: "POST",
                url: "/POS/getProducts",
                data: JSON.stringify({ 'id': resp.id }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response != null) {
                        // alert("Name : " + JSON.stringify(response));
                        var prodlist = JSON.parse(JSON.stringify(response));
                        var prod_contain = document.querySelector("#product");
                        var final_list = "";
                        for (var i = 0; i < prodlist.length; i++) {
                            var list = '<div class="childpospart"><button type="button" class="btn ptp5" id=' + prodlist[i].Id + ' name=' + prodlist[i].Name + ' data-toggle="modal" data-target="#" data-whatever="" onclick="addProduct1(this)">'
                            list += '<i class=" iconpt"></i><div class="poschild5">' + prodlist[i].Name + '</div></button></div>';
                            final_list += list;
                        }
                        var back = '<div class="childpospart"><button type="button" class="btn ptp5" data-toggle="modal" data-target="#" data-whatever="" onclick="back()"><i class="ti-back-left iconpt"></i><div class="poschild5">Back</div></button></div>';
                        prod_contain.innerHTML = final_list + back;
                    } else {
                        alert("Something went wrong");
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            showHidePanel(cat, prod);
        }
        function addProduct1(data) {
            //alert(" Before Adding the Product !!! ");
            getItems(data.id).then(function (data) {
                var d1 = JSON.parse(JSON.stringify(data));
                // alert(" object : " + d1);
                //  alert("Product Name : " + d1[0].ItemName + " Values  : " + JSON.stringify(data));
                addProduct(data);
            }
            ).catch(function (error) {
                //alert(" Errors  : "  + error);
            });
            //alert(" Getting Prod : " + Item);
        }
        function back() {

            var cat = document.querySelector('#category');
            var prod = document.querySelector('#product');
            showHidePanel(prod, cat);
            var menubtn = document.querySelector('#menubtn');
            menubtn.innerHTML = "Main Menu";
        }
        function updatePayDetails() {

            console.log("-------------Fill Payments --------------------");
            var totalItems = 0;
            var lastQty = 0;
            var defaulttax = 0.44;
            var lblSubTotal = document.querySelector('#lblSubtotal');
            var lblTotal = document.querySelector('#lbltotal');
            var lbltax = document.querySelector('#lblSalesTax');
            var lasttotal = 0.00, totaltax = 0.00, lastDiscount = 0.00, lasttax = 0.00;
            var table1 = document.querySelector('#invoicePanel');
            var length = table1.rows.length;
            //Iterate Table Rows
            console.log("----------- FOR LOOP START  --------------------");
            for (var i = 1; i < length; i++) {

                var qty = table1.rows[i].cells[1].innerHTML;
                var price = table1.rows[i].cells[2].innerHTML;

                lasttotal = parseFloat(price, 10) + lasttotal;
                lastQty += parseInt(qty);

                var add_tax = parseFloat(defaulttax) * parseFloat(lastQty);
                totaltax += add_tax;

                //Display to screen
                lblSubTotal.innerHTML = lasttotal.toFixed(2);
                lbltax.innerHTML = totaltax;
                lblTotal.innerHTML = parseFloat(totaltax) + parseFloat(lasttotal);
            }
            console.log(" __________ END OF FOR LOOP _______________")
            console.log("------------- End Fill Payments --------------------");
        }
        function addCart() {

        }
        function init() {

            //Initial of Variable
            var cashPay1 = document.querySelector('#cashType');
            var completeSaleEvt = document.querySelector('#btnCompeleteSale');
            var makepymnt = document.querySelector('#makepaymnt');
            var findMember = document.querySelector('#findMember');
            findMember.addEventListener("keyup" , showlist);
            makepymnt.addEventListener("click", makePayment);
            cashPay1.addEventListener("click", cashPay);
            completeSaleEvt.addEventListener("click", completeSale);
            getInvoiceID().then(function (data) {
                // alert(" Init : " + data);
            });
        }
        function resetPanel() {
            //alert("Panel Reseting... ");
            var subtotal = document.querySelector('#lblSubtotal');
            var salestax = document.querySelector('#lblSalesTax');
            var total = document.querySelector('#lbltotal');
            var due = document.querySelector('#lblDue');
            var table1 = document.querySelector('#invoicePanel');
            var length = table1.rows.length;
          //  alert(" Table Length : " + length);
            for (var i = 1; i < length-1; i++) {
                //alert("Index I -: " + i);
                table1.deleteRow(i);
            }
            subtotal.innerHTML = "$0.00";
            salestax.innerHTML = "$0.00";
            total.innerHTML = "$0.00";
            due.innerHTML = "$0.00";
            getCategory();
            //alert("Panel Reseted... ");
        }
        function cashPay() {
         //   alert(" On Cash Pay : ");
            var paymentPanel = document.querySelector('#paymentPanel');
            var str = '<div class="row stt"><div class="col-md-6">Cash</div><div class="col-md-6"><label id="lblDue">$0.00</label></div></div>';
            $(str).insertAfter("#paymentPanel");
        }
        var objs;
        function showlist() {
           var suggestion = document.querySelector('#findMember');
           $.ajax({
                type: "POST",
               url: "/POS/getMembers",
               data: JSON.stringify({ 'name': suggestion.value }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response != null) {
                       // alert("Value : " + JSON.stringify(response));
                        var membercontain = document.querySelector('#membercontainer');
                        var dataObj = JSON.parse(JSON.stringify(response));
                        var masterdata = "";
                        var data = "";
                        //  alert(" Length : " + dataObj.length);
                        if (dataObj.length > 0) {
                             var membercontain = document.querySelector('#membercontainer');
                             membercontain.style.display = "";
                            for (var i = 0; i < dataObj.length; i++) {
                                data += '<div class="row">';
                                data += '<div class="st20"><img src="' + dataObj[i].ImagePath + '" alt="user" class="stimg"></div>';
                                data += '<div class="st50 sh"> <h4>' + dataObj[i].FirstName + ' ' + dataObj[i].LastName + '</h4> <h4>' + dataObj[i].Id + '</h4><h4>' + dataObj[i].DOB + '</h4></div>';
                                data += '<div class="st20"><button type="button" id=' + dataObj[i].Id + ' onclick="selectMembers(this)" class="btn btn-info selbtn" >Select</button></div>';
                                data += '</div > ';
                            }
                            objs = dataObj;
                        } else {
                            var membercontain = document.querySelector('#membercontainer');
                            membercontain.style.display = "none";
                        }
                        masterdata += data;
                        membercontain.innerHTML = masterdata;
                    } else {
                        alert("Something went wrong");
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
        var selectedMember = "None";
        function selectMembers(mem) {

            var findMemPnl = document.querySelector('#findMemPnl');
            findMemPnl.style.display = "none";
            var selectPnl = document.querySelector('#SelectMemPnl');
            selectPnl.style.display = "";
            var selobj = objs.filter(function (obj) {
                return obj.Id == mem.id;
            });
            var selImage = document.querySelector('#selImage');
            var selName = document.querySelector('#selName');
            var selID = document.querySelector('#selID');
            var selDate = document.querySelector('#selDate');

            selImage.src = selobj[0].ImagePath;
            selID.innerText = selobj[0].Id;
            selName.innerText = selobj[0].FirstName + " " + selobj[0].LastName;
            selectedMember = selobj[0].FirstName + " " + selobj[0].LastName;
            selDate.innerText = selobj[0].DOB;
        }
        function closeSelectMembers() {

            var findMemPnl = document.querySelector('#findMemPnl');
            findMemPnl.style.display = "";
            var selectPnl = document.querySelector('#SelectMemPnl');
            selectPnl.style.display = "none";
            //alert(" Close the Current Memebers ");
        }
        function makePayment() {

            var total_amount = document.querySelector('#lbltotal');
            var due_amount = document.querySelector('#lblDue');
            var extact_Data = document.getElementById('extData');
           // alert(" Total Amount : " + total_amount.innerText + " Due Amount : " + due_amount.innerText);
            extact_Data.value = total_amount.innerText;
        }
        function completeSale() {

            var table1 = document.querySelector('#invoicePanel');
            var invoiceID = document.querySelector('#InvoiceID');
            var subtotal = document.querySelector('#lblSubtotal');
            var salestax = document.querySelector('#lblSalesTax');
            var totalammount = document.querySelector('#lbltotal');
            var totalPay = document.querySelector('#lblCash');
            var remianPrice = document.querySelector('#lblDue');
            //   alert(" Table Length :" + table1.rows.length);
            for (var i = 1; i < table1.rows.length; i++) {
                var col = table1.rows[i].cells[0].innerHTML;
                var col1 = table1.rows[i].cells[1].innerHTML;
                var col2 = table1.rows[i].cells[2].innerHTML;
                var col3 = table1.rows[i].cells[5].innerHTML;
                var col4 = table1.rows[i].cells[6].innerHTML;
                //     alert(" Product Name  : " + col);
                //   alert(" Product Qty  : " + col1);
                // alert(" Product Price  : " + col2);
                // alert(" Product ID  : " + col3);
                // alert(" Product Actual Price   : " + col4);
                // alert(" Invoice ID " + invoiceID.value);
                var totalprice = parseFloat(col1) * parseFloat(col4);
                addSellsOrderItems(invoiceID.value, col3, col1, col4, 0, col2);
            }
            addSellsOrder(invoiceID.value, selectedMember , subtotal.innerHTML, salestax.innerHTML, totalammount.innerHTML, "PAID", totalPay.innerHTML, 0, remianPrice.innerHTML);
          //  alert("Complete Sale and  Clear the Screen ");
             resetPanel();
            window.open('/invoice/get_last_Invoice');
           
        }
        function addItems(ProductID, StockID, Name, SoldPrice, Stock) {
            window.Item.push({ ProductID: ProductID, StockID: StockID, Name: Name, SoldPrice: SoldPrice, Stock: Stock });
            // alert("Adding  the Items");
        }
        // API RELATED FUNCTIONALITY :
        var Item = [];
        function getItems(id) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    type: "POST",
                    url: "/POS/getItemsList",
                    data: JSON.stringify({ 'id': id }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response != null) {
                            //alert("Name : " + JSON.stringify(response));
                            var data = JSON.parse(JSON.stringify(response));
                            Item.push({
                                ProductID: data.ItemID,
                                StockID: data.ItemName,
                                Name: data.StockID,
                                SoldPrice: data.Qty,
                                Stock: data.SellPrice
                            });
                            addItems(data.ItemID, data.ItemName, data.StockID, data.Qty, data.SellPrice);
                            // alert(" Item Name : " + Item);
                            resolve(response);
                        } else {
                            alert(" Something went wrong ");
                            reject(response.responseText);
                        }
                    },
                    failure: function (response) {
                        //alert(response.responseText);
                        reject(response.responseText);
                    },
                    error: function (response) {
                        //alert(response.responseText);
                        reject(response.responseText);
                    }
                });
            });
        }
        function addSellsOrder(Invoice_number, member_name, subtotal, SalesTax, Total_Amount, Paid_Status, Total_Pay, Discount_price, Remain_price) {
            //Add Sells Order Here To the Server
            var so = new Object();
            so.Invoice_number = Invoice_number;
            so.Member_Name = member_name;
            so.Subtotal = subtotal;
            so.Sales_Tax = SalesTax;
            so.Total_Amount = Total_Amount;
            so.Paid_Status = Paid_Status;
            so.Total_Pay = Total_Pay;
            so.Discount_price = Discount_price;
            so.Remain_price = Remain_price;
            //alert(" SellsOrder : " + JSON.stringify(so));
            $.ajax({
                type: "POST",
                url: "/POS/addSellsOrder",
                data: JSON.stringify(so),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response != null) {
                        // alert("Sells Order Reponse: " + response);
                    } else {
                        alert("");
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
        function addSellsOrderItems(invoice_Id, product_Id, quantity, unit_price,  discount_price, total_price) {
            //Add Sells Orde Items
            var soi = new Object();
            soi.invoice_Id = invoice_Id;
            soi.Invoice_number = invoice_Id;
            soi.product_Id = product_Id;
            soi.quantity = quantity;
            soi.unit_price = unit_price;
            soi.discount_price = discount_price;
            soi.total_price = total_price;
            //alert(" SellsOrderITems : " + JSON.stringify(soi));
            $.ajax({
                type: "POST",
                url: "/POS/addSellsOrderItems",
                data: JSON.stringify(soi),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response != null) {
                        //  alert(" Data : " + response);
                    } else {
                        alert("");
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
        function getInvoiceID() {
            return new Promise((resolve, reject) => {
                $.ajax({
                    type: "GET",
                    url: "/POS/getInvoiceID",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response != null) {
                            //alert("Name : " + JSON.stringify(response));
                            var data = JSON.parse(JSON.stringify(response));
                            //alert("GET Invoice ID  : " + JSON.stringify(data));
                            document.querySelector('#InvoiceID').value = response;
                            // alert(document.querySelector('#InvoiceID').value);
                            resolve(response);
                        } else {
                            reject(response.responseText);
                        }
                    },
                    failure: function (response) {
                        //alert(response.responseText);
                        reject(response.responseText);
                    },
                    error: function (response) {
                        //alert(response.responseText);
                        reject(response.responseText);
                    }
                });
            });
        }
    </script>
}