
@{
    ViewBag.Title = "Physiofit | SalesLedger ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row upp2">
    <!-- Column -->
    <div class="row rolebtns2">
        <div class="col-lg-6 col-xlg-6 col-md-6">
            <form action="#">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type the product type.." aria-label="">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="mdi  mdi-magnify"></i></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6 col-xlg-6 col-md-6">
            @*<button type="button" class="btn btn-info btnaddrole" data-toggle="modal" data-target="#addcat" data-whatever="">Add Product Type</button>*@
        </div>
    </div>

    <div class="addrolestab">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> Invoice No. </th>
                    <th> Member Name </th>
                    <th> Total Amount </th>
                    <th> Paid Status </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#0001</td>
                    <td>None</td>
                    <td>$1230.00</td>
                    <td>PAID</td>
                    <td>
                        <button type="button" class="btn btn-info editbtn1">View</button>
                        <button type="button" class="btn btn-primary deletebtn1">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
