


<div class="row pt-5">
    <div class="col-12">
    @using (Html.BeginForm("addSubscriptions1", "Membership", FormMethod.Post, new { @class = "needs-validation", @Id = "form12", @novalidate = "" })) 
    {
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h4>Add Subscriptions</h4>
                </div>
                @Html.Partial("_SelectMembership")
            </div>
        </div>
        <div class="card"  id="mypartial"></div>
     }
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        //Scripts Of the Add Subscriptionsd 
        $('#mshchng').on("change", function () {
            var memberID = document.querySelector('#MemberID');
            console.log(memberID);
            var route = '@Url.Action("ViewSubscriptions", "Membership")' + "?membershipID=" + $(this).val() + "&memberID=" + 121 ;
            $.get(route, function (data) {
                console.log(data);
                $('#mypartial').html(data);
                var paid = document.querySelectorAll('#Paid_Amount');
                    if (paid != null) {
                        console.log(" Element Not Found ");
                        console.log(paid);
                }
            })
        });
       
    </script>
    
}

