
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Index","Membership", FormMethod.Post, new { @Id = "membership" }))
{
  @Html.AntiForgeryToken();
 <div class="row upp2 centerform">
        <!-- Column -->
        <div class="col-lg-12 col-xlg-12 col-md-12">
            <div class="card">
                <!-- Nav tabs -->
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="settings" role="tabpanel">
                        <div class="col-12">
                            <div class="row">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                            <div class="form-row">
                                                <div class="col-md-12 mb-3">
                                                    <label for="validationDefault01" class="mb30">Name</label>
                                                    <input type="text" name="Name" class="form-control mb70" id="" placeholder="" value="" required>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-12 mb-3">
                                                    <label for="validationDefault01" class="mb30">Description</label>
                                                    <textarea type="text" name="Description" rows="2" class="form-control mb70" id="" placeholder="" value="" required></textarea>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-12 mb-3">
                                                    <label for="" class="mb30">Valid Days</label>
                                                    <input type="number" name="ValidDays" class="form-control mb70" id="" placeholder="" value="" required>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-12 mb-3">
                                                    <label for="" class="mb30">Amount</label>
                                                    <input type="number" name="Amount" class="form-control mb70" id="" placeholder="" value="" required>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-12 mb-3">
                                                    <label for="" class="mb30">Start Date</label>
                                                    <input type="date" name="StartDate" class="form-control mb70" id="" placeholder="" value="" required>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-12 mb-3">
                                                    <label for="" class="mb30">End Date</label>
                                                    <input type="date" name="EndDate" class="form-control mb70" id="" placeholder="" value="" required>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-12 mb-3">
                                                    <label for="" class="mb30">Pre Expiration Days</label>
                                                    <input type="date" name="PreEndDate" class="form-control mb70" id="" placeholder="" value="" required>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-12 mb-3">
                                                    <label for="" class="mb30">Allowed Members</label>
                                                    <input type="number" name="Capacity" class="form-control mb70" id="" placeholder="" value="" required>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-info subbtn">Submit</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
}