
@{
    ViewBag.Title = "NoAccess";
    Layout = null ;
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2>Access Denied </h2>
            </div>
            <div class="card-body">
                <p>
                    You do not have permission to access this page.
                </p>
            </div>
        </div>
    </div>
</div>
