
<div class="form p-t-20">
    <div class="align-content-center">
        @if (Model.member != null)
        {
            if (Model.member.QRUri != "" && !String.IsNullOrEmpty(Model.member.QRUri))
            {
                <img src="@Url.Content(Model.member.QRUri)" alt="Image" width="200" height="200" />
            }
            else
            {
                 <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Generate", "Member", new { id = Model.member.Id })'">Generate QR Code</button>
            }
        }
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}