
<div class="form p-t-20">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Training Details</th>
                <th>Expiray Date</th>
                <th>Amount</th>
                <th>Membership Types</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>3 Months</td>
                <td>12-03-2019</td>
                <td>1200</td>
                <td>None</td>
                <td>Ren</td>
            </tr>
        </tbody>
    </table>
</div>
