
@{
    ViewBag.Title = "Physiofit | Find Member ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string @getbootstrap = "";
    int count = 0;
}
<form>
    <div class="searchinput">
        <input type="text" name="search" class="search1" placeholder="Search Member..">
        <button type="button" id="btnPost" class="search2"><i class="ti-search"></i></button>
    </div>
    <div class="btnscontrol">
        <a class="buttoncol" data-rel="#rowvalue" href="#"><i class="ti-menu gridpart"></i></a>
        <a class="buttoncol active" data-rel="#colvalue" href="#"><i class="ti-layout-grid2-alt gridpart"></i></a>
    </div>
</form>
<div class="radiobtns">
    <input type="radio" name="memberFilter" value="everyone" checked> Everyone
    <input type="radio" name="memberFilter" value="currentmembers"> Current Members
    <input type="radio" name="memberFilter" value="recentvisitors"> Recent Visitors
    <input type="radio" name="memberFilter" value="expiredmembers"> Expired Members
    <input type="radio" name="memberFilter" value="prospects"> Prospects
</div>
<div class="container1" id="colvalue" style="display:none;"> 
</div>
<div class="container1" id="rowvalue">
    <table id="memberData">
        <tr>
            <th>Member ID</th>
            <th>Name</th>
            <th>Membership Type</th>
            <th>Owe</th>
            <th>Action</th>
        </tr>
    </table>
</div>
<div class="row">
    &nbsp;
</div>
<!-- /.modal -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Manual Check-in</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label label1">Member Name:</label>
                        <input type="text" class="form-control label2" id="" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label label1">Member ID:</label>
                        <input type="text" class="form-control label2" id="" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label label1">Door:</label>
                        <select class="form-control label2">
                            <option value="reception">Reception</option>
                            <option value="yg">YG Club</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label label1">Membership:</label>
                        <select class="form-control label2">
                            <option value="">Select Membership</option>
                            <option value="12">12 Months membership</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label label3">Staff Override:</label>
                        <input type="checkbox" class="label4" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-info" data-dismiss="modal">Open Door</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Check-in</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
@section scripts{
    <script type="text/javascript">
        $('.buttoncol').click(function (e) {
            e.preventDefault();
            setContent($(this));
        });
        // set content on load
        $('.buttoncol.active').length && setContent($('.buttoncol.active'));

        function setContent($el) {
            $('.buttoncol').removeClass('active');
            $('.container1').hide();

            $el.addClass('active');
            $($el.data('rel')).show();
        }
        $(function () {
          $.ajax({
            type: "GET",
            url: "/Member/getMember",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response != null) {
                    var data = response;
                    var memberdata = '';
                    var rows = data.length / 3;
                    var left = data.length % 3;
                    var json = JSON.parse(JSON.stringify(data));
                    var table = document.querySelector('#memberData');
                    var count_rows = table.rows.count;
                    console.log(" JSON Data : ");
                    console.log(json);
                    let count = 0;
                    for (var i = 0; i < rows; i++) {
                        data = '<div class="row">'
                        for (var j = 1; j < 4; j++) {
                            var mrow = table.insertRow(count_rows);
                            var cell1 = mrow.insertCell(0);
                            var cell2 = mrow.insertCell(1);
                            var cell3 = mrow.insertCell(2);
                            var cell4 = mrow.insertCell(3);
                            var cell5 = mrow.insertCell(4);
                            cell1.innerHTML = '<a href="@Url.Action("", "Member", new { id = count })"> #'+ count + '</a>';
                           // alert(count + " i -: " + i +" j -: " + j);
                            cell2.innerHTML = json[count].FirstName ;
                            cell3.innerHTML = json[count].LastName ;;
                            cell4.innerHTML = "Count " + count;
                            cell5.innerHTML = "Check In";
                            data += '<a href="@Url.Action("", "Member", new { id = count })"> <div class="col33 memberwrapper">' + ' <div class="col40">' + '   <img class="userimg" src="' + json[i*j].ImagePath +'" /></div>';
                            data += ' <div class="col60"> <h4>' + json[i*j].FirstName + ' ' +json[i*j].LastName + '</h4>' + '<hr>' + ' <h5>User ID '+ count+' </h5>';
                            data += ' <p>Created on <b>' + (i*j) + '</b></p>';
                            data += '<div class="specify1"><img class="imgspecify" src="@Url.Content("~/assets/images/specification/check.png")" />';
                            data += '</div><div class="specify2">' + ' <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever=""><i class="ti-import importicon"></i></button>';
                            data += '</div></div></a></div>';
                            if (count < 34) {
                                count++;
                            }
                        }
                        data += '</div>';
                        memberdata += data;
                    }
                    $('#colvalue').html(memberdata);
                } else {
                    alert("Something went wrong");
                }
            },
            failure: function(response) {
                alert(response.responseText);
            },
            error: function(response) {
                alert(response.responseText);
            }
        });
        });
        $(function() {
        $("#btnGet").click(function() {
        $.ajax({
            type: "GET",
            url: "/Member/getMember",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response != null) {
                    var data = response;
                    var memberdata = '';
                    alert(" Data Length " + data.length);
                    alert(" Data " +JSON.stringify( data));
                    var rows = data.length / 3;
                    var left = data.length % 3;
                    var json = JSON.parse(JSON.stringify(data));
                    console.log(json);
                    var count = 1;
                    for (var i = 0; i < rows; i++) {
                        data = '<div class="row">'
                        for (var j = 0; j < 3; j++) {
                            data += ' <div class="col33 memberwrapper">' + ' <div class="col40">' + '   <img class="userimg" src="' + json[i*j].ImagePath +'" /></div>';
                            data += ' <div class="col60"> <h4>' + json[i*j].FirstName + ' ' +json[i*j].LastName + '</h4>' + '<hr>' + ' <h5>User ID </h5>';
                            data += ' <p>Created on <b>' + count + '</b></p>';
                            data += '<div class="specify1"><img class="imgspecify" src="@Url.Content("~/assets/images/specification/check.png")" />';
                            data += '</div><div class="specify2">' + ' <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever=""><i class="ti-import importicon"></i></button>';
                            data += '</div></div></div>';
                            count++;
                        }
                        data += '</div>';
                        memberdata += data;
                    }
                    $('#colvalue').html(memberdata);
                } else {
                    alert("Something went wrong");
                }
            },
            failure: function(response) {
                alert(response.responseText);
            },
            error: function(response) {
                alert(response.responseText);
            }
        });
            });
        });
        $(function () {
        $("#btnPost").click(function() {
        var employee = new Object();
            employee.Name = "Bilal";
            employee.Designation = "Software Developer";
            employee.Location = "Noida";

        if (employee != null) {
            $.ajax({
                type: "POST",
                url: "/Member/AjaxPostCall",
                data: JSON.stringify(employee),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    if (response != null) {
                        alert("Name : " + response.Name + ", Designation : " + response.Designation + ", Location :" + response.Location);
                    } else {
                        alert("Something went wrong");
                    }
                },
                failure: function(response) {
                    alert(response.responseText);
                },
                error: function(response) {
                    alert(response.responseText);
                }
            });
        }
        });
    });
    </script>
}
